<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.wsiwt_back.domain.user.UserRepository">

    <insert id="save" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO userEntity (username, password, role, picture, authProvider)
        VALUES (#{username}, #{password}, #{role}, #{picture}, #{authProvider})
    </insert>

    <select id="existsByUsername" resultType="boolean">
        SELECT CASE WHEN COUNT(*) > 0 THEN TRUE ELSE FALSE END
        FROM userEntity
        WHERE username = #{username}
    </select>

    <select id="findByUsername" resultType="com.example.wsiwt_back.domain.user.UserEntity">
        SELECT * FROM userEntity WHERE username = #{username}
    </select>

    <select id="findById" resultType="com.example.wsiwt_back.domain.user.UserEntity">
        SELECT * FROM userEntity WHERE id = #{id}
    </select>

</mapper>